body,
html {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.carousel {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
}

.carousel img {
    width: 50%;
    height: 40vh;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.carousel-inner {
    position: relative;
    padding: 0 15px;
}

.carousel-item {
    height: 60vh;
    overflow: hidden;
}

.search-box-container {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    max-width: 1100px;
    width: 97%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    text-align: center;
}

.search-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.tab-button.active {
    background-color: #fff;
    border-color: #007bff;
    color: #007bff;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.form-group {
    flex: 1;
    min-width: 220px;
    max-width: 48%;
    display: flex;
    flex-direction: column;
}

#outbound-section, #return-section {
    flex: 1;
    min-width: 45%;
}

.search-button {
    background-color: #dc3545;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 25px;
    flex: 1;
    max-width: 200px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.best-deals__header__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
}

.best-deals__header__title .highlight {
    color: #ff5733;
}

.best-deals__header {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #2c3e50;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.best-deals__header .highlight {
    color: #ff5733;
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        margin-right: 10px;
        font-size: 0.85rem;
    }

    .carousel-item {
        height: auto;
    }

    .tab-button {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
    
    .form-group label {
        font-size: 0.85rem;
    }

    .form-group input,
    .form-group select {
        padding: 8px;
        font-size: 0.85rem;
    }

    .form-group {
        width: 100%;
    }

    .best-deals__header {
        font-weight: 200;
        font-size: 0.5rem;
    }
}

#references-carousel .carousel-inner {
    display: flex;
    align-items: center;
    height: 150px;
}

#references-carousel .carousel-item {
    transition: transform 1s ease;
}

#references-carousel img {
    max-height: 100px;
    opacity: 0.8;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#references-carousel img:hover {
    opacity: 1;
    transform: scale(1.1);
}

#references-carousel {
    background-color: #f8f9fa;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}

.carousel-item {
    display: flex;
    justify-content: space-around;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


@media (min-width: 1200px) {
    .search-box-container {
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        max-width: 800px;
        width: 70%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    .search-button {
        padding: 5px;
        flex: 1;
    }
    
    .best-deals__header {
        font-weight: 800;
        font-size: 1rem;
    }
}
