body,
html {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    height: 100%;
    width: 100%;
}

.breadcrumb-container {
    display:flex;
    justify-content:center;
    max-width: 800px; 
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-bottom: 20px;
    margin: 0 auto 20px auto;
}

.breadcrumb-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    background-color: #e9ecef;
    transition: background-color 0.3s, color 0.3s;
}

.breadcrumb-item:not(:last-child)::after {
    content: ">";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #6c757d;
}

.breadcrumb-item.active {
    background-color: #007bff3a;
    color: #fff;
}

.breadcrumb-icon {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.breadcrumb-label {
    font-size: 0.9em;
    font-weight: bold;
}


/* Date Selector Styles */
.date-selector {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f8f9fa; /* Daha sade bir arka plan rengi */
    overflow-x: auto;
    border-bottom: 1px solid #ddd;
}

.date-box {
    text-align: center;
    padding: 15px 10px;
    margin: 0 5px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    min-width: 100px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Gölgeleri ve yuvarlak köşeleri daha belirgin hale getirmek için */
}

.flight-counts {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .flight-count {
    font-weight: bold;
  }
  
  .outbound-count {
    color: green;
  }
  
  .return-count {
    color: blue;
  }

.date-box.active {
    background-color: #fff;
    border-color: #007bff;
    color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date-box.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 3px;
    background-color: #007bff; /* Seçili kutunun altındaki mavi çizgi */
    border-radius: 3px 3px 0 0;
}

.day-number {
    font-size: 1.5rem;
    font-weight: bold;
}

.day-name, .month-name {
    font-size: 0.9rem;
    color: #555;
}

.price {
    margin-top: 5px;
    font-size: 1.1rem;
    color: #28a745;
    font-weight: bold;
}

.star-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #007bff;
}

/* Önceki ve Sonraki Butonlar */
.navigation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-weight: bold;
    color: #007bff;
}

.navigation-button:hover {
    background-color: #e9ecef;
}

/* Uçuş Kartı Stilleri */
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1200px;
    margin: 10px auto;
}

.card-left {
    display: flex;
    align-items: center;
}

.time-info {
    text-align: center;
    margin-right: 20px;
}

.time-info p {
    margin: 5px 0;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Uçuş Rota Stilleri */
.route {
    display: flex;
    align-items: center;
}

.route-line {
    width: 100px;
    height: 1px;
    background-color: #000;
    position: relative;
    margin: 0 10px;
}

.route-line::before, .route-line::after {
    content: "";
    position: absolute;
    top: -5px;
    width: 10px;
    height: 10px;
    background-color: #004080;
    border-radius: 50%;
}

.route-line::before {
    left: 0;
}

.route-line::after {
    right: 0;
}

.route-logo {
    width: 20px;
    height: 20px;
    background-image: url("{{ url_for('static', filename='images/sehlen_logo.png') }}");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-color: transparent;
}

/* Düğme Stilleri */
.details-button {
    background-color: transparent;
    border: none;
    color: #004080;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.details-button:hover {
    color: #002050;
}

.details-button::after {
    content: "▼";
    margin-left: 10px;
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.details-button.collapsed::after {
    transform: rotate(-90deg);
}

.details-content {
    display: none;
    margin-top: 10px;
}

.details-content p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
}

.buy-ticket-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.buy-ticket-button:hover {
    background-color: #218838;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 10px;
    max-height: 200px;
}

.modal-content {
    text-align: center;
    padding: 5px;
}

.modal h3 {
    font-size: 0.9rem; /* Başlık daha küçük */
    margin-bottom: 10px;
}

.modal p {
    font-size: 0.8rem; /* Metin boyutu daha küçük */
    margin-bottom: 10px;
}

.btn-primary,
.btn-secondary {
    padding: 5px 10px;
    font-size: 0.7rem;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary {
    background-color: #dc3545;
    color: white;
    border: none;
    margin-bottom: 5px;
}

.btn-primary:hover {
    background-color: #c82333;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.passenger-info-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.section-title {
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.form-section {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.flight-summary {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.flight-summary h4 {
    margin-bottom: 15px;
}

.flight-summary .flight-details p {
    margin: 5px 0;
    font-weight: bold;
}

@media (max-width: 768px) {
    .passenger-info-container {
        padding: 15px;
    }

    .form-section {
        margin-bottom: 15px;
    }

    .form-group {
        margin-bottom: 10px;
    }
}
