<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='images/sehlen_logo.png') }}" alt="Sehlen Tourism" />
            <span>SEHLEN TOURISM</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_page == 'admin' %}
                    <!-- Admin Paneli için Navbar -->
                    <li class="nav-item">
                        <a class="nav-link" onclick="showSection('all-flights')">All Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="showSection('add-outbound')">Add Outbound Flight</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="showSection('add-return')">Add Return Flight</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="showSection('outbound-list')">Outbound Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="showSection('return-list')">Return Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="showSection('users-list')">Users List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Main Menu</a>
                    </li>
                {% elif current_page == 'flight-ticket' %}
                    <!-- Flight Ticket Sayfası için Navbar -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('flight_ticket') }}">Hoş Geldiniz, {{ logged_in_user }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('travel') }}">Seyahat Deneyimi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('offer') }}">Teklifler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('support') }}">Destek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Çıkış Yap</a>
                    </li>
                {% elif current_page == 'index' %}
                    <!-- Anasayfa için Navbar -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('travel') }}">Seyahat Deneyimi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('offer') }}">Teklifler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('support') }}">Destek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sign') }}">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sign') }}">Kayıt Ol</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
