<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index')}}">
          <img
              src="{{ url_for('static', filename='images/sehlen_logo.png') }}"
              alt="Sehlen Turizm"
          />
          <span>SEHLEN TURİZM</span>
      </a>
      <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Menüyü Aç"
      >
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
              {% if logged_in_user %} 
                  {% if logged_in_user_role == 'admin' %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('admin_panel') }}">Yönetim Paneline Git</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('ticketbuy') }}">Hoş Geldiniz, {{ logged_in_user }}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('travel') }}">Seyahat Deneyimi</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('offer') }}">Teklifler</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('support') }}">Destek</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('logout') }}">Çıkış Yap</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('travel') }}">Seyahat Deneyimi</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('offer') }}">Teklifler</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('support') }}">Destek</a>
                  </li>
                  <button class="btn btn-outline-dark ms-3" onclick="window.location.href='{{ url_for('sign') }}'">Giriş Yap</button>
                  <button class="btn btn-outline-dark ms-3" onclick="window.location.href='{{ url_for('sign') }}'">Kayıt Ol</button>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>
