<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uçuş Planlaması</title>
</head>
<body>
    <h1>Uçuş Planlaması</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task['name'] }}</strong><br>
                Aşama: {{ task['stage_id'][1] }}<br>
                Sorumlu: {% if task['user_id'] %} {{ task['user_id'][1] }} {% else %} Belirtilmemiş {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
