<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="button-container">
        <a href="#" class="btn">Admin</a>
        <a href="#" class="btn">Kullanıcı</a>
        <a href="#" class="btn">Acenta</a>
    </div>
</body>
</html>
