<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Koltuk Seçimi - Sehlen Turizm</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/plane.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-4">
      <div id="seat-selection" class="plane mt-4">
        <div class="cockpit">
          <h1>Koltuk Seçimi</h1>
        </div>
        <div class="exit exit--front fuselage"></div>
        <ol class="cabin fuselage">
          {% for row in seats|batch(6) %}
          <li class="row row--{{ loop.index }}">
            <ol class="seats" type="A">
              {% for seat in row %}
              <li class="seat">
                <input
                  type="checkbox"
                  id="seat-{{ seat.id }}"
                  name="seat"
                  value="{{ seat.id }}"
                  {%
                  if
                  seat.id
                  not
                  in
                  available_seats
                  %}
                  disabled
                  class="unavailable"
                  {%
                  endif
                  %}
                />
                <label for="seat-{{ seat.id }}">
                  {{ chr(65 + loop.parent.loop.index0) }}{{ loop.index }}
                </label>
              </li>

              {% endfor %}
            </ol>
          </li>
          {% endfor %}
        </ol>
        <div class="text-center mt-4">
          <button class="btn btn-primary">Devam Et</button>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
